/*https://colorhunt.co/palette/141534*/
body {
    background-color: #183661;

}

.container {
    max-width: 400px;

}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background-color: #dd6b4d;
    max-width: 400px;
}



.todos li {
    background-color: #1c4b82;
    color: #dd6b4d;


}

.delete {
    cursor: pointer;
}
.filtered{
    display:none !important;
}